.dark {
    -fx-background-color:  #3700B3;
}

.lite {
    -fx-background-color:  #6200EE;
}

.login {
    -fx-background-color:  #6200EE;
    -fx-border-color:  transparent transparent white transparent;
    -fx-text-fill: white;
}

.buttonlog {
    -fx-background-color:  #03DAC5;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 40;
}

.search-bar {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.transparent {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-font-size: 14px;
}

.search-button {
    -fx-background-color: #03DAC5;
    -fx-background-radius: 30;
    -fx-font-size: 14px;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0);
}

.dynamic-effect:hover {
    -fx-text-fill: orange;
    -fx-cursor: hand;
}

.title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.card {
    -fx-background-radius: 30;
}